html,
body,
#container,
.taro-tabbar__panel,
#app,
#app > div,
.taro_page {
  height: 100%;
  width: 100%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
